* {
    margin: 0;
    padding: 0;
  }


body {
    align-items: center;
    justify-content: center;
}


h2.year-label {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.6rem;
    color: #555;
  }


  .container-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
  }


  .card {
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    padding: 1.5rem;
    transition: transform 0.2s;
  }


  .card:hover {
    transform: translateY(-5px);
  }


  .card h3 {
    margin: 0 0 0.5rem;
    font-size: 1.4rem;
    color: #4a4a4a;
  }


  .card p {
    margin: 0.25rem 0;
    font-size: 0.95rem;
    color: #555;
  }


  .label {
    font-weight: 600;
    color: #222;
  }


@media (max-width: 1200px) {
    .container-list {
      flex-direction: column;
    }
    .card {
        grid-template-columns: 1fr 1fr;
    }
}


@media only screen and (max-width: 550px) {
    .card {
        grid-template-columns: 1fr;
    }
}
