body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #b3e3ff;
    color: #020202;
  }


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #8fc9ff;
    font-weight: bold;
    font-size: large;
  }


.icons {
  display: flex;
}


.Home, .Favorite, .Notifications {
  font-size: 20px;
  background: none;
  border: none;
}


.Home, .Favorite, .Notifications, .Sign {
  margin: 3px;
  padding: 3px;
  align-items: center;
}


.Sign {
  border: blue;
  font-size: 15px;
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  width: 100px;
}


.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 5px;
}


#by {
  margin: 5px;
}


#options {
  size: 5px;
}


textarea {
  margin: 5px;
}


